@media screen and (min-width: 1024px) {
    html { font-size: 1.1rem; } 
}
@media screen and (min-width: 415px) {
    #map { height: 600px; }
}

body { padding-top: 100px; }

.navbar-brand { font-size: larger; }
.navbar-inverse .navbar-text { color: #C1DB81; }
h1 { font-size: 2rem; }

.img-responsive-overwirte { margin: 0 auto; }

.carousel img {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.carousel,
.carousel .item,
.carousel .item-mask,
.carousel-control,
.carousel-inner .item .item-mask img {
  height: auto;
}

#map {
  text-align: center;
  display: block;
  margin: 0px auto;
  overflow: hidden;
}
iframe {
  border: none;
  width: 100%;
  height: 100%;
}